[run]
source = siglab
omit = tests/*,setup.py
concurrency = multiprocessing
parallel = True

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
show_missing = True
skip_covered = True
